/*
Styling for About page
*/

.about-us-container{
  background-color: #000000;
  color: #FFFFFF;
  padding: 0rem 7rem 2.5rem 7rem;
}

.page-main-container{
  padding-bottom: 28rem;
}

.page-main-container img{
  margin: 2rem 2rem 1rem 1rem;
}

/* Media Queries */
@media( max-width: 1340px){
  .flex-container{
      flex-direction: column;
  }

  .page-main-container img{
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

@media( max-width: 800px){
  .page-main-container{
    padding-bottom: 20rem;
  }
}

@media( max-width:500px){
  .page-main-container img{
    order: -1;
    max-width: 100%;
  }
}
