/*/
  Styling for the Checkout page ------------
/*/

footer{
  background-color: black;
  color: white;
  padding-top: 2rem;
}

/* Using flex learned from https://css-tricks.com/almanac/properties/f/flex/ */
.payment-form-container{
  flex: 2;
}

.checkout-container{
  flex: 1;
}

.checkout-payment-container{
    padding: 2rem 7rem 2.5rem 0rem;
}

.checkout-item img{
  margin-top: 1rem;
}

/* Media Queries */

@media( min-width: 1340px){
    .flex-container-nowrap .payment-form-container{
        border-right: 0.1rem #b9b3a4 solid;
    }
}

@media( max-width: 1340px){
  .flex-container-nowrap{
      flex-direction: column;
  }

  .flex-container-nowrap .payment-form-container{
      border-top: 0.1rem #b9b3a4 solid;
      order: 2;
  }

  .flex-container-nowrap .checkout-container{
      order: 1;
  }
}

@media( max-width: 830px){
  .checkout-payment-container{
      padding: 2rem 0rem 5rem 0rem;
  }
}

@media( max-width: 500px){
  .checkout-payment-container{
    padding: 1rem 0rem 2rem 0rem;
  }
}
