/*
  COMBINED ELEMENTS -------------------
*/

/* MAIN NAVBAR (HEADER) ELEMENTS */

/* Used only for style guide to simulate <header> element */
.main-header{
    background-color:rgba(0,0,0, 0.9);
    border-bottom: #811921 0.75rem groove;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
  }

.header-title{
    font-family: oswald, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    vertical-align: middle;
    display: inline;
    position: relative;
    top: 0.5rem;
    left: 1rem;
}

/* Logo beside title */
.header-icon{
    vertical-align: middle;
    max-width: 2.5rem;
    display: inline;
    position: relative;
    left: 0.5rem;
    top: 0.5rem;
    background-color: #F28507;
    transition-property: max-width;
    transition-duration: 0.8s
}

.header-icon:hover{
    max-width: 4.5rem;
}

/* Shopping cart button found on the right of navbar */
.cart-button{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: block;
    transition-property: border-color;
    transition-duration: 0.3s;
    border: 3px solid rgba(255,255,255,0);
}

.cart-button:hover{
    border-color: rgba(255,255,255,1);
}

/* Wrapper to hold header items and pulls them to the right side */
.header-item-wrapper{
    float: right;
    margin: 1.25rem 2rem 0 0;
}

/* Styling for links in header */
.header-link{
    margin: 0 0.25rem 0 0.25rem;
    color: #FFFFFF;
    font-size: 1rem;
    transition-property: border-bottom-color;
    padding-bottom: 0.8rem;
    transition-duration: 0.3s;
    border-bottom: 3px solid rgba(255,255,255,0);
}

.header-link:hover{
    border-bottom-color: rgba(255,255,255,1);
}

/* For mobile hamburger navbar */

/* Container to hold all components of side-navbar in mobile */
.mobile-navbar{
    display: inline;
}

/* Button to open mobile navbar */
/* Button image is from https://material.io/resources/icons/ */
.hamburger-button{
    background-image: url("https://www.sfu.ca/~fla54/iat339/p1/images/menu-white-18dp.svg");
    background-size: 2.5rem 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    position: relative;
    top: 0.75rem;
    right: 1rem;
    float: right;
    cursor: pointer;
}

/* Actual menu that drops down and reveals content from side navbar */
.dropdown-menu{
    width: fit-content;
    margin-top: -1.5rem;
    padding: 1rem 0 1rem 0;
}

/* Wrapper to group elements so we can align them properly using flexbox */
.dropdown-wrapper{
    margin: 1rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.dropdown-menu h2, .dropdown-menu h3{
    font-size: 1.5rem;
}

/* PRODUCT LISTING ELEMENT */

.product-list{
    margin-bottom: 3rem;
    margin-top: 2rem;
}

/* PAYMENT CHECKOUT ELEMENTS */

.payment-form-container{
    background-color: #f9f9f9;
    padding: 2.5rem;
    max-width: 100%;
}

.payment-method .form-wrapper{
    display: block;
    margin: 0.5rem 0 0.5rem 0;
}

/* CHECKOUT CART ELEMENTS */

.checkout-container{
    background-color: #f4f1e9;
    padding: 2.5rem;
    max-width: 100%;
}

.checkout-item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
}

.checkout-item-title{
    font-family: poppins, sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}

.checkout-item-wrapper{
    display: inline-block;
    vertical-align: top;
    margin: 0 1.5rem 1rem 1.5rem;
}

.checkout-item-wrapper .form-input{
    max-width: 4.5rem;
}

.checkout-item-wrapper .form-label{
    margin-top: 1.25rem;
}

.checkout-subtotal, .checkout-taxes, .checkout-fulltotal{
    font-weight: 600;
}

/* Media Queries */

/* 1100+ px */
@media( min-width: 1100px){
    /* Display cart button on the right for non-mobile */
    .cart-button{
        float: right;
        position: relative;
        bottom: 0.5rem;
        left: 0.7rem;
    }
}

/* 0 - 540px */
@media(max-width: 540px){
    .checkout-item{
        flex-direction: column;
    }

    .checkout-item-wrapper{
      margin-bottom: 0.5rem;
    }

    .checkout-container{
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .payment-form-container{
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
}
