/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/

*{
  box-sizing: border-box;
}

body{
  font-family: poppins, sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  background-color: #ad1c36;
  background-position: bottom;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6{
  font-family: bitter, sans-serif;
  font-weight: 700;
  max-width: 40rem;
  margin: 1rem 0 1rem 0;
}

h1{
  margin-top: 2.25rem;
  font-size: 2.8rem;
}
h2{ font-size: 2.2rem; }
h3{ font-size: 1.8rem; }
h4{ font-size: 1.6rem; }
h5{ font-size: 1.4rem; }
h6{ font-size: 1.2rem; }

a{
  color: #FFFFFF;
  font-size: 0.95rem;
  width: fit-content;
  margin: 0.25rem 0 0.25rem 0;
  font-weight: 500;
  word-wrap: break-word;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.5s;
}

a:hover{
  color: #F28507;
}

li{
  line-height: 1.4rem;
}

code{
  background-color: #EEE;
  color: #171717;
  padding: 0.5rem;
  display: block;
}

header{
  background-color:rgba(0,0,0, 0.9);
  border-bottom: #811921 0.75rem groove;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 1rem;
  padding-bottom: 1rem;
  z-index: 1000;
}

p{
  max-width: 45rem;
  line-height: 1.8rem;
}

/* Referenced from https://www.w3schools.com/howto/howto_css_placeholder.asp */
::placeholder{
  color: #a5a39d;
}

figure{
  margin: 2rem;
}

figcaption{
  max-width: 35rem;
}

.brush-background-flip{
  background-image: url('../images/red-black-background-flip.png');
  background-repeat: repeat-x;
  padding-top: 17rem;
}

footer{
  padding-left: 7rem;
  padding-bottom: 2rem;
  z-index: 1;
}

footer p{
  max-width: 30rem;
}

footer a{
  margin-right: 2rem;
}

/* Classes Styling */
.element{
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

.flex-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.flex-container-nowrap{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.align-center-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.brush-background{
  background-image: url('../images/red-black-background.png');
  background-repeat: repeat-x;
  background-position: bottom;
}

.page-header-container{
  padding: 8rem 7rem 2rem 7rem;
}

.page-main-container{
  padding: 0 7rem 20rem 7rem;
}

.page-secondary-container{
  background-color: #000000;
  color: #FFFFFF;
  position: relative;
  padding: 0.1rem 7rem 2.5rem 7rem;
}

/* Media Queries */

@media( max-width: 800px){
  .page-header-container{
      padding: 8rem 2rem 2rem 2rem;
  }

  .page-main-container{
      padding: 0 2rem 20rem 2rem;
  }

  .page-secondary-container{
      padding: 1rem 2rem 5rem 2rem;
  }

  footer{
    padding-left: 2rem;
  }
}

@media( max-width: 372px){
  header{
    padding-bottom: 0.5rem;
  }

  p{
    max-width: 100%;
  }

}
