/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/

*{
  box-sizing: border-box;
}

body{
  font-family: poppins, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  /* background-color: #811921; */
}

h1, h2, h3, h4, h5, h6{
  font-family: bitter, sans-serif;
  /* letter-spacing: 0.22rem; */
  font-weight: 700;
  max-width: 40rem;
  /* line-height: 2.5rem; */
}

h1{ font-size: 2.8rem; }
h2{ font-size: 2.2rem; }
h3{ font-size: 2rem; }
h4{ font-size: 1.9rem; }
h5{ font-size: 1.8rem; }
h6{ font-size: 1.7rem; }

a{
  color: #FFFFFF;
  font-size: 0.95rem;
  width: fit-content;
  margin: 0.25rem 0 0.25rem 0;
  font-weight: 500;
  word-wrap: break-word;
  text-decoration: none;
}

/* a:focus, a:hover{
} */

li{
  line-height: 1.4rem;
}

code{
  background-color: #EEE;
  color: #171717;
  padding: 0.5rem;
  display: block;
}

header{
  background-color:rgba(0,0,0, 0.9);
  border-bottom: #811921 0.75rem groove;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 1rem;
  padding-bottom: 1rem;
  z-index: 1000;
}

p{
  max-width: 40rem;
  line-height: 1.8rem;
}

/* Referenced from https://www.w3schools.com/howto/howto_css_placeholder.asp */
::placeholder{
  color: #a5a39d;
}

fieldset{
  border: none;
}

figure{
  margin: 2rem;
}

figcaption{
  max-width: 35rem;
}

/* Classes Styling */
.element{
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

/* Footprint graphic for h2 */
.footprint-icon{
  width: 2rem;
  position: relative;
  top: 6px;
  z-index: -1;
}

/* Media Queries */

@media( max-width: 372px){
  header{
    padding-bottom: 0.5rem;
  }

  p{
    max-width: 100%;
  }

}
