.header-icon{
transition-property: max-width;
transition-duration: 0.8s
}

.header-icon:hover{
  max-width: 4.5rem;
}

.header-link{
  transition-property: border-bottom-color;
  padding-bottom: 0.2rem;
  transition-duration: 0.3s;
  border-bottom: 3px solid rgba(255,255,255,0);
}

.header-link:hover{
  border-bottom-color: rgba(255,255,255,1);
}

.cart-button{
  transition-property: border-color;
  transition-duration: 0.3s;
  border: 3px solid rgba(255,255,255,0);
}

.cart-button:hover{
  border-color: rgba(255,255,255,1);
}

.cart-button{
  background-image: none;
}

a{
  transition-property: color;
  transition-duration: 0.5s;
}

a:hover{
  color: #F28507;
}

.submit-button:hover{
  background-color: #F28507;
  border-color: #F28507;
}

.reset-button:hover{
  background-color: #991C06;
  border-color: white;
  color: white;
}

fieldset.form-wrapper{
  margin-top: 0.2rem;
}

fieldset legend{
  display: relative;
  top: 10rem;
}

.main-header{
  background-color:rgb(0,0,0);
  border-bottom: #811921 0.75rem groove;
  padding-left: 1rem;
  padding-bottom: 1rem;
  z-index: 1000;
}

/*/
Colors for Palette
/*/

.primary-red{
  background-color: #811921;
}

.primary-white{
  background-color: #FFF;
}

.primary-black{
  background-color: #000;
  border: 0.25rem solid #b9b3a4;
}

.secondary-orange{
  background-color: #F28507;
}




/*/
Media Queries
/*/
