/*
  Styling for the Product Listing page ------------
*/

.service-list img{
    margin: 2rem 2rem 1rem 1rem;
}

/* Media Queries */
@media( max-width: 1340px){
  .flex-container-nowrap{
      flex-direction: column;
  }

  .service-list h3{
      order: 1;
  }

  .service-list img{
      order: 2;
  }

  .service-list p{
      order: 3;
  }
}

@media( max-width: 500px){
  .service-list img{
    order: -1;
    margin: 0;
    max-width: 100%;
  }

  .service-list{
    margin-top: 2rem;
  }
}
