.product-view-header-container{
    padding: 8rem 7rem 6.9rem 7rem;
}

.product-view-desc-container{
    background-color: #000000;
    color: #FFFFFF;
    padding: 2rem 7rem 2.5rem 7rem;
}

@media( max-width: 800px){
    .product-view-header-container{
        padding: 8rem 2rem 25rem 2rem;
    }
  
    .product-view-desc-container{
        padding: 2rem 2rem 5rem 2rem;
    }
  }