.checkout-button{
    float: right;
}

.sticky-fulltotal p{
    display: inline-block;
    font-size: 1.2rem;
    margin: 1rem 2rem 0 2rem;
}

.sticky-fulltotal{
    width: 100%;
    background-color:rgba(0,0,0, 0.9);
    border-top: #811921 0.2rem solid;
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    right: 0;
}

@media( max-width: 800px){

    .checkout-button{
        padding: 0.75rem 0.8rem 0.75rem 0.8rem;
    }

    .sticky-fulltotal p{
        font-size: 1rem;
    }
    
  }

@media( max-width: 500px){
    .checkout-button{
        padding: 0.75rem 0.5rem 0.75rem 0.5rem;
        font-size: 1rem;
    }

    .sticky-fulltotal p{
        margin: 1rem 0 0 1rem;
    }
}

@media( max-width: 390px){
    .checkout-button{
        float: unset;
        width: 100%;
        display: block;
        text-align: center;
    }

    .sticky-fulltotal p{
        display: block;
        margin: 0.25rem 0 0.25rem 0.5rem;
    }
}