/*
  CUSTOM STYLING FOR STYLE GUIDE ---------
*/

body{
    margin: 4rem 0 2rem 15rem;
    background-color: #000000;
    background-image: none;
    color: #FFFFFF;
}

/* Used to hold main contain (elements) in style guide */
.main-content{
    padding-left: 5rem;
    max-width: 65rem;
  }

/* Styling for the colored circles */
.color-pallete{
    width: 7rem;
    height: 7rem;
    border-radius: 7rem;
}

.pallete-wrapper{
    display: inline-block;
    margin: 0 1rem 0 1rem;
}

.pallete-title{
    font-weight: 600;
    font-size: 0.9rem;
}

/* Colors for our pallete */
.primary-red{
    background-color: #ad1c36;
}

.primary-white{
    background-color: #FFFFFF;
}

.primary-black{
    background-color: #000000;
    border: 0.25rem solid #FFFFFF;
}

.secondary-orange{
    background-color: #f28507;
}  

.secondary-blue{
    background-color: #1c90c5;
}  

.secondary-white{
    background-color: #f9f9f9;
}

.secondary-off-white{
    background-color: #f4f1e9;
}

.secondary-grey{
    background-color: #b9b3a4;
}

/* Container for the intro section at the top */
.intro-container{
    padding: 5rem 5rem 30rem 5rem;
    background-color: #ad1c36;
    color: #000000;
}

/* Stylized paragraph for text below title */
.intro-caption{
    font-size: 1.05rem;
    font-weight: 500;
    margin-bottom: 3rem;
    max-width: 35rem;
}

/* Styling for the navbar on the left-hand side of the screen */
.side-navbar{
    background-color: #000000;
    color: #FFFFFF;
    padding: 1rem 1rem 0 1rem;
    position: fixed;
    top: 50px;
    left: 0;
    max-width: 15rem;
    height: 100%;
}

/* Styling for each nav link on the left-hand navbar */
.sidenav-link{
    padding: .1em 0;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    font-size: 1rem;
    line-height: 1.8em;
    width: fit-content;
    display: block;
}

#citations{
    max-width: 55rem;
}

/* Specific modifications to elements within Style Guide */
/* Mostly fixes such as correcting font color */
.checkout-container{
    color: black;
}
.payment-form-container{
    color: black;
}

.reservation-select{
    display: unset;
}

/* Media Queries for Style Guide */
@media( max-width: 1100px ){
    .side-navbar{
        display: none;
    }
}

@media( max-width: 1100px ){
    body{
        margin: 4rem 0 2rem 0;
    }
}

@media( max-width: 700px){
    .intro-container{
        padding: 2rem 1.5rem 25rem 1.5rem;
    }

    .main-content{
        padding: 2rem 2rem 0 2rem;
    }
}

@media( max-width: 372px){
    .intro-caption{
        max-width: 100%;
    }
}
