/* Styling for the template pages */

body{
    padding: 8rem 14rem 2rem 14rem;
}

.flex-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.cart-button{
    background-image: url("https://www.sfu.ca/~fla54/iat339/p1/images/shopping_cart-white-18dp.svg");
    background-size: 2rem 2rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: block;
}

/* Media Queries */
@media( min-width: 1100px){
    .cart-button{
        float: right;
        position: relative;
        bottom: 0.5rem;
        left: 0.7rem;
    }
}

@media( max-width: 1340px){
    .flex-container{
        flex-direction: column;
    }

    .flex-container .payment-form-container{
        order: 2;
    }

    .flex-container .checkout-container{
        order: 1;
    }
}

@media( max-width: 800px){
    body{
        padding: 8rem 2rem 2rem 2rem;
    }
}

@media( max-width: 460px){
    body{
        padding: 8rem 1rem 2rem 1rem;
    }
}
