/* Styling for the template pages */

body{
    padding: 8rem 7rem 2rem 7rem;
}

.cart-button{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: block;
    transition-property: border-color;
    transition-duration: 0.3s;
    border: 3px solid rgba(255,255,255,0);
}

.cart-button:hover{
    border-color: rgba(255,255,255,1);
}

/* Media Queries */
@media( min-width: 1100px){
    .cart-button{
        float: right;
        position: relative;
        bottom: 0.5rem;
        left: 0.7rem;
    }
}

@media( max-width: 1340px){
    .flex-container{
        flex-direction: column;
    }

    .flex-container .payment-form-container{
        order: 2;
    }

    .flex-container .checkout-container{
        order: 1;
    }
}

@media( max-width: 800px){
    body{
        padding: 8rem 2rem 2rem 2rem;
    }
}

@media( max-width: 460px){
    body{
        padding: 8rem 1rem 2rem 1rem;
    }
}
