/* Styling for the template pages */

.cart-button{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: block;
    transition-property: border-color;
    transition-duration: 0.3s;
    border: 3px solid rgba(255,255,255,0);
}

.cart-button:hover{
    border-color: rgba(255,255,255,1);
}

.service-list img{
    margin: 2rem 2rem 1rem 1rem;
}

.service-list-container{
    padding: 8rem 7rem 25rem 7rem;
    margin-bottom: -1.1rem;
}

.product-list-container{
    background-color: #000000;
    color: #FFFFFF;
    padding: 2rem 7rem 2.5rem 7rem;
}

.checkout-header-container{
    padding: 8rem 7rem 0 7rem;
    margin-bottom: 2rem;
}

.checkout-payment-container{
    padding: 2rem 7rem 2.5rem 7rem;
}

/* Media Queries */
@media( min-width: 1100px){
    .cart-button{
        float: right;
        position: relative;
        bottom: 0.5rem;
        left: 0.7rem;
    }
}

@media( max-width: 1340px){
    .flex-container{
        flex-direction: column;
    }

    .flex-container .payment-form-container{
        order: 2;
    }

    .flex-container .checkout-container{
        order: 1;
    }

    .service-list h3{
        order: 1;
    }

    .service-list img{
        order: 2;
    }

    .service-list p{
        order: 3;
    }
}

@media( max-width: 800px){
    .service-list-container{
        padding: 8rem 2rem 25rem 2rem;
    }

    .product-list-container{
        padding: 2rem 2rem 5rem 2rem;
    }

    .checkout-header-container{
        padding: 8rem 2rem 0 2rem;
    }

    .checkout-payment-container{
        padding: 2rem 2rem 5rem 2rem;
    }
}
